service: CommonFeePlan-post-pay-info

plugins:
  - serverless-domain-manager

custom:
  customDomain:
    domainName: api.borderless.mym.works
    basePath: 'pay'
    stage: ${self:provider.stage}

provider:
  name: aws
  runtime: python3.8

  stage: prd
  region: ap-northeast-1

  memorySize: 128

  iamRoleStatements:
    - Effect: 'Allow'
      Resource:
        - 'arn:aws:dynamodb:ap-northeast-1:778289792916:table/borderless-common-fee'
      Action:
        - dynamodb:PutItem

functions:
  main:
    handler: handler.main
    events:
      - http:
          path: /{house_name}
          method: post
          private: true
